
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212; 
  color: #fff; 
  padding: 20px;
}

.chatbot {
  width: 30%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.chatbot-form {
  display: flex;
  margin-top: 20px;
}

/* Chat messages styles */
.chatbot-messages {
  max-height: 393px;
  min-height: 393px;
  overflow-y: auto;
  padding: 10px;
  margin-top: 10px;
  background-color: #7b7878;
}

.chatbot-messages-container {
  background-color: #7b7878;
  min-height: 393px;
  
}

.bot-message {
  background-color: #3f3f3f; /* Grey for bot messages */
  color: #fff;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 30px;
  align-self: flex-end;
}

.user-message {
  background-color: #009688; /* Green for user messages */
  color: #fff;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: 30px;
  align-self: flex-start;
  text-align: left;
}

/* Chat input form */
.chatbot-form {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  background-color: #3f3f3f;
}

textarea {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  resize: vertical;
  overflow-y: auto; 
  min-height: 40px; 
  max-height: 200px; 
  box-sizing: border-box; 
  word-wrap: break-word; 
}

input[type='text'] {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

input[type='text']:focus {
  outline: none;
}

/* Buttons */
button {
  padding: 8px 15px;
  background-color: #009688; /* Green color for button */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00796b; /* Darker green on hover */
}

/* Main layout container */
.layout-container {
  display: flex;
  height: 90vh;
  padding-bottom: 30px;
}

/* Middle panel */
.middle-panel {
  width: 40%;
  padding: 20px;
   background-color: #333;
   max-height: 700px;

}


.context-window {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  white-space: pre-wrap;
  min-height: 480px;
  background-color: #7b7878;
  padding: 10px;
  overflow-y: auto; 
  max-height: 400px;
}


/* File explorer */
.file-explorer {
  width: 25%;
  background-color: #444;
  color: #fff;
  padding: 20px;
  overflow-y: auto;
  gap: 30px;
}

.file-explorer-container {
  position: relative;
  margin-top: 10px;
  min-height: 480px;
  white-space: pre-wrap;
  background-color: #7b7878;
  padding: 10px;
}

.file-object {
  background-color: #7CB9E8;
  color: #fff;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  align-self: flex-start;
}

.container {
  margin-top: 20px;
  width: 100%;
  height: 20px;
}

/* Collapsible list */
.collapsible-list {
  max-width: 400px;
  margin: 0 auto;
}

.collapsible-item {
  border: 1px solid #7CB9E8;
  margin-bottom: 10px;
}

.item-header {
  background-color: #7CB9E8;
  padding: 10px;
  cursor: pointer;
}

.item-content {
  padding: 10px;
  display: none;
}

.item-content p {
  margin-bottom: 5px;
}

.nested-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nested-list li {
  margin-left: 20px;
}

.collapsible-item.active .item-content {
  display: block;
}


.typing-animation {
  font-size: 24px;
}

.typing-animation span {
  opacity: 0;
  animation: blink-animation 1s infinite steps(1);
}

@keyframes blink-animation {
  50% {
    opacity: 1;
  }
}